@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group">
    <div class="text-center">
        <h1 class="display-4">RCP - Rejestracja czasu pracy</h1>
    </div>
    
    <div>
        <img src="/Content/Images/RCP.png" alt="RCP image"/>
    </div>
</div>