@model RCP.ViewModel.ReportViewModel
@{
    ViewData["Title"] = "Tworzenie Raportu";
}

<h1>Tworzenie Raportu</h1>

        <form asp-action="Create" method="post">
            <input type ="hidden" asp-for="Report.ID" />

            <div class="form-group">
                <label asp-for="workerid" class="form-label">ID pracownika</label>
                <input asp-for="workderid" asp-class="form-control">
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="clientname"  class="form-label">Klient</label>
                <input asp-class="clientname"class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="description" class ="form-label">Opis</label>
                <input asp-class="description class = "form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="startdate" class="form-label">Rozpoczęcie prac</label>
                <input asp-class="startdate" class="form-control" />
                <span class="text-danger"></span> // lista rozwijana 
            </div>

            <div class="form-group">
                <label asp-for="enddate" class="form-label">Zakończenie prac</label>
                <input asp-class="enddate" class="form-control" />
                <span class="text-danger"></span> //lista roziwjana 
            </div>

            <div class="form-group">
                <label asp-for="representant" class="form-label">Przedstawiciel</label>
                <input asp-class="representant" class="form-control" />
                <span class="text-danger"></span>
            </div>

           
           

            <div>
                <a asp-action="Index" class="btn btn-secondary">Powrót</a>
                <button class = "btn btn-primary">Stwórz</button>
            </div>
        </form>



    
