@model RCP.ViewModel.ReportViewModel

@{
    ViewData["Title"] = "Edycja pracownika";
}


<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Report.ID">

    <div class="form-group">
        <label asp-for="Report.Description" class="form-label"></label>
        <input asp-for="Report.Description" class="form-control">
        <span asp-validation-for="Report.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Report.Worker.FirstName" class="form-label"></label>
        <input asp-for="Report.Worker.FirstName" class="form-control">
        <span asp-validation-for="Report.Worker.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Report.Worker.LastName" class="form-label"></label>
        <input asp-for="Report.Worker.LastName" class="form-control">
        <span asp-validation-for="Report.Worker.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Report.StartDate" class="form-label"></label>
        <input asp-for="Report.StartDate" class="form-control">
        <span asp-validation-for="Report.StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Report.EndDate" class="form-label"></label>
        <input asp-for="Report.EndDate" class="form-control">
        <span asp-validation-for="Report.EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Report.Client.Representant" class="form-label"></label>
        <input asp-for="Report.Client.Representant" class="form-control">
        <span asp-validation-for="Report.Client.Representant" class="text-danger"></span>
    </div>


    <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    <button class="btn btn-primary">Zapisz</button>
</form>