@model List<RCP.ViewModel.ReportViewModel>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @foreach (var item in Model) {
          <tr>
              <td>
                  @item.Description
              </td>
                <td>
                    @item.StartDate
                </td>
              <td>
                  @item.ClientName
              </td>
              <td>
                  @item.WorkerName
              </td>
               <br>
          </tr>
      }
</div>
</body>
</html>